html, body {
  height: 100%;
  width: 100%;
  color: #676767;
  background-color: #ffffff;
  overflow: hidden;
}

body {
  overflow: hidden;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  background-size: 100% 100%;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

dt, dd { display: inline; margin: 0; }

dd:after {
	content: '\A';
	white-space: pre;
}

#main_view {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: scroll;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  color: #4d4d4d;
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  overflow: hidden;
  height: 100%;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.41);
  
  -webkit-transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
     -moz-transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
      -ms-transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
       -o-transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
          transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-transform: scale(1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  background-color: #000000;
}

/* @group Dimmer animation */

.dimmer {
  width: 0;
  height: 100%;
  position: absolute;
  
  z-index: 1000;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -ms-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

.dimmer.inFrame {
  width: 100%;
}

.dimmer.visible {
  /*background-color: rgba(0, 0, 0, 0.5);*/
  width: 100%;
}

.fade-show,
.fade-hide {
-webkit-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
-moz-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
-ms-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
-o-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}
 
.fade-hide.fade-hide-active,
.fade-show {
opacity: 0;
}
 
.fade-show.fade-show-active,
.fade-hide {
opacity: 1;
}


.collapse-enter, 
.collapse-leave, .collapse-show, 
.collapse-hide { 
	-webkit-transition: 200ms ease all;
	-moz-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-ms-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-o-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	transition: 200ms ease all;
  display: block;
} 

.collapse-leave.collapse-leave-active,
.collapse-enter, .collapse-hide.collapse-hide-active,
.collapse-show {
  opacity: 0;
  max-height: 0px;
}

.collapse-enter.collapse-enter-active,
.collapse-leave, .collapse-show.collapse-show-active,
.collapse-hide {
  opacity: 1;
  max-height: 300px;
}

/* @end */

.animation_wrapper {
  height: 100%;
  width: 100%;
}

.slide-enter,
.slide-leave {
  -webkit-transition: 400ms ease-in all;
  -moz-transition: 400ms ease-in all;
  -ms-transition: 400ms ease-in all;
  -o-transition: 400ms ease-in all;
  transition: 400ms ease-in all;
  position: absolute;
  width: 100%;
}
 
.slide-leave.slide-leave-active,
.slide-enter {

}
 
.slide-enter.slide-enter-active,
.slide-leave {

}



.slide-enter {
  left: 100%;
}

.slide-leave.layer0 {
  left: 0;
}

.slide-enter.layer0 {
  left: 0;
  -webkit-transform: scale(.8);
  -moz-transform: scale(.8);
}

.slide-enter-active.layer0 {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  left: 0;
  
}

.slide-enter-active {
  left: 0;
}

.slide-leave {
  left: 100%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
}

.slide-leave-active {
  -webkit-transform: scale(.8);
  -moz-transform: scale(.8);
}

.slide-leave.layer1 {
  left: 100%;
  z-index: 100;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
}

.layer1 {
  z-index: 100;
}




.focus {
  -webkit-transform: translateX(0%);.
  -moz-transform: translateX(0%);
  opacity: 1;
}

.slide_left {
  -webkit-transform: translateX(-80%);
  -moz-transform: translateX(-80%);
  transform: translateX(-80%);
}

.scroller_wrapper.with_header_padding {
  padding-top: 40px;
  padding-bottom: 0px;
}

.scroller_wrapper.with_header_padding.extra {
  padding-bottom: 40px;
}

.scroller_wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffffff;
}

.scroller {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  background-color: #e9e9e9;
}

.card {
  background-color: #ffffff;
}

/* @group Header Stuff */

.app_header {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  height: 40px;
  
  z-index: 110;
  top: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #2d2d2d;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
}

header h1, header h2 {
  text-align: center;
  font-size: 1em;
  margin: 0px;
  line-height: 20px; /*header is 40px tall. margin*2 + line-height = header*/
color: #3e3e3e;
}

header small {
  text-align: center;
  display: block;
  color: #8c8c8c;
}

header .btn {
  margin: 6px 10px;
  line-height: 20px;
  font-size: 14px;
}

.dropdown {
  overflow: hidden;
  opacity: 1;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  background-color: #d4d5d4;
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  transform: translateY(0%);
  width: 100%;
  position: absolute;
  top: 40px;
  z-index: 100;
}

.dropdown.opened {
}

.dropdown.closed {
  opacity: 0;
  -webkit-transform: translateY(-200%);
  -moz-transform: translateY(-200%);
  transform: translateY(-200%);
}

/* @end */

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.centered {
  text-align: center;
}

.push_right {
  float: right;
}

.inline {
  display: inline-block;
}

.btn.full_width {
  width: 100%;
}

.clear {
  clear: both;
}

header .btn {
  padding: 2px 10px;
  font-size: .8em;
}

.btnset {
  margin: 0;
  overflow: hidden;
  background-color: #d4d5d4;
  width: 100%;
}

.btnset .btn {
  display: inline-block;
  text-align: center;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: transparent;
  color: #545554;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btnset .btn:first-of-type {
  border-left-style: solid;
}

.btnset .btn.selected {
  background-color: #ffffff;
}

.five_btns .btn {
  width: 20%;
  padding: 10px;
  border: 1px solid #606060;
  border-left: none;
}

.two_btns .btn {
  width: 50%;
  padding: 10px;
  border: 1px solid #606060;
  border-left-style: none;
}

.crumb:last-of-type {
  border-right-style: none;
}

.templates li {
  display: inline-block;
  padding: 4px 0;
}

.sidebar {
  position: absolute;
  width: 100%;
  padding: 20px;
  top: 0;
  z-index: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  color: #f7f7f7;
  letter-spacing: .1em;
}

.sidebar li {
  opacity: 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.62);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  color: #cacaca;
}

.sidebar.visible li {
  opacity: 1;
}

.second_nav {
  text-align: right;
}

.personal_pages.visible {
  display: inherit;
}

.personal_button {
  background: url(../images/personal.svg) no-repeat left center;
  background-size: 50%;
  height: 40px;
  width: 80px;
  border-style: none;
  display: block;
  opacity: .8;
}

.personal_button:hover {
  opacity: 1;
}

.personal_pages {
  z-index: 1;
  width: 60%;
  position: absolute;
  display: none;

  padding: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #c8c8c8;
  -moz-box-shadow: 0 2px 6px black;
  -webkit-box-shadow: 0 2px 6px black;
  box-shadow: 0 2px 6px black;
  color: #575757;
  text-shadow: 0 1px 2px #ffffff;
}

.personal_pages {
  z-index: 1;
  width: 60%;
  position: absolute;
  display: none;

  padding: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #c8c8c8;
  -moz-box-shadow: 0 2px 6px black;
  -webkit-box-shadow: 0 2px 6px black;
  box-shadow: 0 2px 6px black;
  color: #575757;
  text-shadow: 0 1px 2px #ffffff;
}

.sidebar h3 {
  margin-top: 10px; 
}

.sidebar li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.visible {
  opacity: 1;
}

.invisible {
  opacity: 0;
  width: 0%;
  overflow: hidden;
  padding: 0;
}

nav a {
  padding: 10px;
  display: inline-block;
}

.visible a {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

#palette  {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 200;

  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

#palette .content {
  position: absolute;
  top: 40px;
  bottom: 0;
  width: 100%;
  background-color: #dfe0df;
  color: #171717;
}

#palette.visible {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
}

.tools_panel {
  position: absolute;
  z-index: 1000;
  height: 100%;
  width: 90%;
  right: -90%;
  background-color: #f4f4f4;
  border-left: 1px solid #777777;
  
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.tools_panel.visible {
  right: 0;
}

.tag_list {
  text-align: right;
}

.tag {
  padding: .3em 1.8em .3em .8em;
  border: 1px solid #c8c8c8;
  border-radius: 4px;
  margin: 2px;
  background-color: #ffffff;
  position: relative;
  
  height: 26px;
  line-height: 23px;
  font-size: 12px;
  color: #555;
  text-decoration: none;
  text-shadow: 0 1px white;
  background: #fafafa;
  border-width: 1px;
  border-style: solid;
  border-color: #dadada #d2d2d2 #c5c5c5;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, #fcfcfc, #f0f0f0);
  background-image: -moz-linear-gradient(top, #fcfcfc, #f0f0f0);
  background-image: linear-gradient(to bottom, #fcfcfc, #f0f0f0);
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.tag .close_btn {
  width: 18px;
  height: 18px;
  border-radius: 10px;
  border-color: rgba(0, 0, 0, 0.56);
  text-align: center;
  display: inline-block;
  color: #7d7d7d;
  position: absolute;
  right: .4em;
}

.tag .close_btn:hover {
  background-color: rgba(0, 0, 0, 0.16);
}

.tag .close_btn:active {
  background-color: rgba(0, 0, 0, 0.46);
}

.notes {
  background-color: #ffffff;
  padding: 8px;
}

.notes .note {
  padding: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.notes .note:last-of-type {
  border-bottom-style: none;
}

form {
  display: block;
  margin: 0;
}

.tools_list dt {
  font-weight: bold;
}

.form_response {
  background-color: #ffffff;
  padding: 20px 10px 10px;
  margin: 0;
  padding-left: 20px;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.instance {
  margin: 10px 10px 60px;
  border: 2px solid #e6e7e6;
  background-color: #ffffff;
  border-top-left-radius: 30px;
}

.instance h3 {
  font-weight: 200;
  font-size: 1.6em;
  display: block;
  margin: 0;
}

.instance h4 {
  margin: 0;
}

.instance label, .instance p {
  margin: 0px 0 20px;
}

.instance h2 {
  text-align: left;
  padding: 0;
  margin: 0;
  font-size: 1.1em;
}

.instance time {
  font-size: .6em;
  font-weight: 200;
  color: #6c6c6c;
  font-style: italic;
  display: block;
}

.card {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-style: none;
}

.replies {
  padding: 0;
  margin: 0;
  font-size: .9em;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.reply {  
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  padding: 10px 0;
}

form.reply {
  padding: 0;
  border-top: 1px solid #e6e6e6;
  width: 100%;
  position: relative;
}

form.reply input[type=text] {
  border: none;
  margin: 0;
  margin-right: 4em;
}

form.reply input[type=text]::-moz-placeholder {
  color: #aeaeae;
}

form.reply input[type=text]::-webkit-placeholder {
  color: #e6e6e6;
}

form.reply input[type=text]::placeholder {
  color: #e6e6e6;
}

.btn.send_reply {
  background-color: #ffffff;
  color: #383838;
  margin: 0;
  padding: 1em;
  width: 4em;
  border: none;
  box-shadow: none;
  position: absolute;
  right: 0;
  padding: 1.4em;
}

.reply p {
  margin: 0;
}

.reply:first-of-type {
  padding-top: 0;
}

.reply:last-of-type {
  padding-bottom: 0;
}

input[type="text"].inline {
  margin-right: 200px;
  width: 80%;
  height: 3em;
}

.btn.inline {
  float: right;
  width: 18%;
  margin: 0;
  height: 3em;
}

/* @group Form Stuff */

form h3 {
  margin: .5em 0;
}

form li:first-of-type h3 {
  margin-top: 1em;
}

fieldset.padded {
  padding: 20px 0;
}

.answers li {
  margin: .3em 0;
}

.answers .inline input {
  margin-left: 1em;
}

.filled_answer {
  width: 20px;
  height: 20px;
  border: 1px solid #8e8e8e;
}

.filled_answer.checked {
  width: 20px;
  height: 20px;
  background-color: #5ab534;
  border-color: #4b8a35;
}

.empty_textarea {
  border: 1px solid #8d8e8d;
  width: 100%;
  height: 40px;
}

.answers li.inline:first-of-type input {
  margin-left: 0;
}

.btn {
  background-color: #b2c951;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  padding: 4px 10px;
  text-align: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: .8em;
  border: 1px solid rgba(0, 0, 0, 0.17);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.14);
}

.btn.primary {
  color: #545454;
}

.btn.fadded {
  background-color: #fefffe;
  border-color: #c0cc8c;
  color: #bfcb8b;
}

.btn.icon {
  background-color: #ffffff;
  color: #535352;
  border: none;
  padding: 2px 7px;
  box-shadow: none;
  font-size: 1.4em;
}

.btn.icon:active {
  background-color: #4c4c4b;
  color: #fffffe;
}

.btn.disabled {
  background-color: #969696;
}

/* @end */

.btn_set.vert .btn {
  display: block;
  margin: 4px;
}

.instance_header .left {
  width: 60px;
}

.instance_header .middle > * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.instance_header {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.instance_header > * {
  display: table-cell;
  vertical-align: top;
}

.instance_header .header_tools {
  display: table;
  float: right;
}

.header_tools .btn {
  border: none;
  background: none;
  color: #3d3d3d;
  box-shadow: none;
  display: table-cell;
  margin: 0;
  height: ;
  font-size: 1em;
  padding: .6em 1em;
  border-radius: 0;
}

.instance_tools {
  border-bottom: 1px solid #e6e7e6;
  text-align: right;
}

.instance_tools .btn {
  padding: .4em .8em;
  margin: .4em;
  font-size: .9em;
  background-color: #ffffff;
  color: #3c3d3c;
}

.heard {
  background: none;
  color: #3d3d3d;
  margin: 0;
  font-size: 1em;
  border-radius: 3px;
  
}

.btn.heard.heard_true {
  background-color: rgba(131, 207, 110, 0.77);
  color: #365030;
}

.comments {
  list-style: none;
  font-size: .9em;
}

.comment_wrapper {
  padding: 10px 0 0;
}

.comment_wrapper > * {
  display: table-cell;
  vertical-align: top;
}

.comments li .profile_pic {
  width: 30px;
  height: 30px;
  margin: 5px 10px;
}

.comments p {
  margin-top: 0;
}

.comments h4 {
  margin-bottom: 0;
}

.comments h4 time {
  font-size: .8em;
  color: inherit;
}

.comment_wrapper {
  display: table;
}

.you .comment_wrapper {

}

.comment {
  position: relative;
}

.comment .btn.heard {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1em;
  color: #83c272;
  border: 2px #ffffff;
  border-style: none;
  padding: .3em .6em;
  margin: 10px;
  border-radius: 8px;
}

.claimed {
  background-color: #c07800;
}


.instance_action {
  width: 50%;
  display: inline-block;
  margin: 0;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 1px solid #393939;
}

.instance_action:last-of-type {
  border-right: none;
}

.data_section {
  background-color: #eff0ef;
  border: 1px solid #989997;
  padding: 4px;
}

.data {
  display: inline-block;
  vertical-align: text-top;
}

.data.text {
  margin: 0;
  padding: 20px 0;
}

.big_number {
  font-size: 4em;
  text-align: center;
}

/* @group Scaffolding */

[class*='col-'] {
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.col-1-3 {
  width: 33.33%;
}

.col-2-3 {
  width: 66.66%;
}

.row::after {
  content: '\a';
  display: block;
  clear: both;
}

/* @end */

/* @group Dashboard Styles */

.campaign_info {
  float: right;
}

.notifications {
  background-color: #eff0ef;
  border: 1px solid #989997;
  padding: 4px;
}

.toolbar {
  height: 20px;
}

.new_counter {
  background-color: #8cb0d9;
  padding: 4px 8px;
  border-radius: 2px;
  color: rgba(255, 255, 255, 0.61);
}

.object_list li {
  background-color: #ffffff;
  margin: 0;
  padding: 10px 0;
}

.object_list li.selected {
  background-color: #ffffff;
  color: #212121;
}

.object_list li .checkbox {
  height: 30px;
  width: 30px;
  display: block;
  background-color: #ffffff;
  border: 2px solid #535453;
  margin: 10px 10px 3px 0;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.object_list li.selected .checkbox {
  background-color: #ffffff;
  border-style: double;
  border-width: 6px;
}

.campaign_info::after {
  content: "\a";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clear {
  clear: both;
}

/* @end */

/* @group Question Type Selector Styles */

.qtype > input {
  float: left;
  margin: 20px;
  display: block;
}

.qtype > label {
  display: block;
  margin-left: 60px;
}

/* @end */

select {
  display: block;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

label {
  display: block;
  margin: 10px 0 4px;
}

input[type=text], input[type=email], input[type=number], input[type=date], input[type=time], input[type=password], textarea {
  padding: 1em;
  margin: 14px 0;
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  border-radius: 4px;
  border-radius: 0;
  background: inherit;
  outline: none;
}

input[type=text]:focus, input[type=email]:focus, input[type=number]:focus, input[type=date]:focus, input[type=time]:focus, input[type=password]:focus, textarea:focus {
  background: white;
}

textarea {
  height: 6em;
  padding: 1em;
}

/* Routing transistions */
  
.page.last {
  -webkit-transform: translateX(-100%);
}

.slide_right {
  -webkit-transform: translateX(50%) scale(.4);
  -moz-transform: translateX(50%) scale(.4);
  transform: translateX(50%) scale(.4);
  opacity: .6;
}


@-webkit-keyframes in {

	from {
		-webkit-transform: translateX(-100%);
	}

	to {
		-webkit-transform: translateX(0%);
	}

}
@-moz-keyframes in {

	from {
		-moz-transform: translateX(-100%);
	}

	to {
		-moz-transform: translateX(0%);
	}

}
@keyframes in {

	from {
		transform: translateX(-100%);
	}

	to {
		transform: translateX(0%);
	}

}

@-webkit-keyframes out {

	from {
		-webkit-transform: translateX(0%);
	}

	to {
		-webkit-transform: translateX(-100%);
	}

}
@-moz-keyframes out {

	from {
		-moz-transform: translateX(0%);
	}

	to {
		-moz-transform: translateX(-100%);
	}

}
@keyframes out {

	from {
		transform: translateX(0%);
	}

	to {
		transform: translateX(-100%);
	}

}

@-webkit-keyframes in_two {

	from {
		-webkit-transform: translateX(100%);
	}

	to {
		-webkit-transform: translateX(0%);
	}

}
@-moz-keyframes in_two {

	from {
		-moz-transform: translateX(100%);
	}

	to {
		-moz-transform: translateX(0%);
	}

}
@keyframes in_two {

	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(0%);
	}

}

@-webkit-keyframes out_two {

	from {
		-webkit-transform: translateX(0%);
	}

	to {
		-webkit-transform: translateX(100%);
	}

}
@-moz-keyframes out_two {

	from {
		-moz-transform: translateX(0%);
	}

	to {
		-moz-transform: translateX(100%);
	}

}
@keyframes out_two {

	from {
		transform: translateX(0%);
	}

	to {
		transform: translateX(100%);
	}

}
    
.in {
  -webkit-animation: in 200ms;
  -moz-animation: in 200ms;
  animation: in 200ms;
  position: absolute;
}     
.out {
  -webkit-animation: out 200ms;
  -moz-animation: out 200ms;
  animation: out 200ms;
  position: absolute;
}

.level_two.in {
  -webkit-animation: in_two 200ms;
  -moz-animation: in_two 200ms;
  animation: in_two 200ms;
  position: absolute;
}     
.level_two.out {
  -webkit-animation: out_two 200ms;
  -moz-animation: out_two 200ms;
  animation: out_two 200ms;
  position: absolute;
}

/* @group from animate.css */

.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:.5s;-moz-animation-duration:.5s;-ms-animation-duration:.5s;-o-animation-duration:.5s;animation-duration:.5s;}

@-webkit-keyframes bounceInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(2000px);
	}	60% {
		opacity: 1;
		-webkit-transform: translateY(-30px);
	}
	
	80% {
		-webkit-transform: translateY(10px);
	}
	
	100% {
		-webkit-transform: translateY(0);
	}
}
@-moz-keyframes bounceInUp {
	0% {
		opacity: 0;
		-moz-transform: translateY(2000px);
	}
	
	60% {
		opacity: 1;
		-moz-transform: translateY(-30px);
	}
	
	80% {
		-moz-transform: translateY(10px);
	}
	
	100% {
		-moz-transform: translateY(0);
	}
}

@keyframes bounceInUp {
	0% {
		opacity: 0;
		transform: translateY(2000px);
	}
	
	60% {
		opacity: 1;
		transform: translateY(-30px);
	}
	
	80% {
		transform: translateY(10px);
	}
	
	100% {
		transform: translateY(0);
	}
}

.bounceInUp {
	-webkit-animation-name: bounceInUp;
	-moz-animation-name: bounceInUp;
	-o-animation-name: bounceInUp;
	animation-name: bounceInUp;
}

@-webkit-keyframes bounceInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-40px);
	}
	
	40% {
		opacity: 1;
		-webkit-transform: translateY(10px);
	}
	
	80% {
		-webkit-transform: translateY(-5px);
	}
	
	100% {
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes bounceInDown {
	0% {
		opacity: 0;
		transform: translateY(-40px);
	}
	
	40% {
		opacity: 1;
		transform: translateY(10px);
	}
	
	80% {
		transform: translateY(-5px);
	}
	
	100% {
		transform: translateY(0);
	}
}

@keyframes bounceInDown {
	0% {
		opacity: 0;
		transform: translateY(-40px);
	}
	
	40% {
		opacity: 1;
		transform: translateY(10px);
	}
	
	80% {
		transform: translateY(-5px);
	}
	
	100% {
		transform: translateY(0);
	}
}

.bounceInDown {
	-webkit-animation-name: bounceInDown;
	-moz-animation-name: bounceInDown;
	-o-animation-name: bounceInDown;
	animation-name: bounceInDown;
}

/* @end */

.bounceIn-enter
{
-webkit-animation-name: bounceInDown;
-moz-animation-name: bounceInDown;
-o-animation-name: bounceInDown;
animation-name: bounceInDown;
}
 
.bounceIn-leave.bounceIn-leave-active,
.bounceIn-enter {


}
 
.bounceIn-enter.bounceIn-enter-active,
.bounceIn-leave {
  
}

.control_panel {
  display: none !important;
  
  z-index: 1000;
  position: relative;
  top: 300px;
  left: 20px;
  padding: 10px 0 10px 40px;
  display: inline;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.38);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.26);
  background-color: rgba(255, 255, 255, 0.51);
  opacity: .2;
  -webkit-transform: translateZ(0), translate3d(0, 0, 0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
     
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.control_panel:hover {
  opacity: .9;
}

.control_panel button {
  font-weight: 200;
  font-size: .8em;
	background: rgb(46,46,46);
	background: -moz-linear-gradient(top, rgba(46,46,46,1) 0%, rgba(34,34,34,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(46,46,46,1)), color-stop(100%,rgba(34,34,34,1)));
	background: -webkit-linear-gradient(top, rgba(46,46,46,1) 0%,rgba(34,34,34,1) 100%);
	background: -o-linear-gradient(top, rgba(46,46,46,1) 0%,rgba(34,34,34,1) 100%);
	background: -ms-linear-gradient(top, rgba(46,46,46,1) 0%,rgba(34,34,34,1) 100%);
	background: linear-gradient(to bottom, rgba(46,46,46,1) 0%,rgba(34,34,34,1) 100%);
	border: 1px solid #141414;
	color: #bcbcbc;
	display: inline-block;
	margin: 0 5px;
	padding:8px 14px;
	text-decoration: none;
	text-shadow:0 1px 0 rgba(0,0,0,.6);
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0,0,0,.2), 0 1px 0 rgba(255,255,255,.2) inset;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2), 0 1px 0 rgba(255,255,255,.2) inset;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2), 0 1px 0 rgba(255,255,255,.2) inset
}
.control_panel button:hover {
		background: -webkit-gradient(linear, left top, left bottom, from(rgba(64,64,64,1)), to(rgba(47,47,47,1))) rgb(64,64,64);
  background: -webkit-linear-gradient(top, rgba(64,64,64,1) 0%, rgba(47,47,47,1) 100%) rgb(64,64,64);
  background: -moz-linear-gradient(top, rgba(64,64,64,1) 0%, rgba(47,47,47,1) 100%) rgb(64,64,64);
  background: -ms-linear-gradient(top, rgba(64,64,64,1) 0%, rgba(47,47,47,1) 100%) rgb(64,64,64);
  background: -o-linear-gradient(top, rgba(64,64,64,1) 0%, rgba(47,47,47,1) 100%) rgb(64,64,64);
  background: linear-gradient(to bottom, rgba(64,64,64,1) 0%, rgba(47,47,47,1) 100%) rgb(64,64,64);
  border-color: #222;
		text-shadow:0 1px 0 rgba(0,0,0,.7);
		color: #d0d0d0
	}
.control_panel button:active {
		background: -webkit-gradient(linear, left top, left bottom, from(#171717), to(rgba(40,40,40,1))) rgb(23,23,23);
  background: -webkit-linear-gradient(top, #171717 0%, rgba(40,40,40,1) 100%) rgb(23,23,23);
  background: -moz-linear-gradient(top, #171717 0%, rgba(40,40,40,1) 100%) rgb(23,23,23);
  background: -ms-linear-gradient(top, #171717 0%, rgba(40,40,40,1) 100%) rgb(23,23,23);
  background: linear-gradient(to bottom, #171717 0%, rgba(40,40,40,1) 100%) rgb(23,23,23);
  color: #fff;
		text-shadow:0 1px 0 rgba(0,0,0,.3);
		box-shadow: 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(0,0,0,.8) inset;
		-moz-box-shadow: 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(0,0,0,.8) inset;
		-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(0,0,0,.8) inset;
	}

.ui-draggable-dragging {
  transform: scale(1.1);
  opacity: .9;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

/* @group Added Styles */


.card {
  background-color: #f2f2f2;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 3px rgba(0, 0, 0, 0.12), inset 0 -7px rgba(255, 255, 255, 0.48), inset 0 -6px rgba(0, 0, 0, 0.46);
  border: 1px solid #c6c6c6;
}

.push_left {
  float: left;
}

.profile_pic {
  background: url(images/fdbk_mark.svg) no-repeat;
  background-size: 100%;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  margin: 0px 10px 0px 0px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px rgba(255, 255, 255, 0.74), inset 0 1px rgba(255, 255, 255, 0.34);
}

.profile_pic.circle {
  border-radius: 40px;
}

.profile_pic.jon_hamm {
  background: url(../images/jon.jpg) center -6px;
  background-size: 100%;
}

time {
  color: #8f94a0;
  font-weight: 400;
  font-size: .8em;
}

/* @group Object List */

.object-list {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

.object-list li {
  display: table;
  padding: 16px;
  border-top: 1px solid #cbcdd0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.object-list h1 {
  font-weight: bold;
  font-size: 1.5em;
  margin: 0;
  color: #565e71;
}

.object-list h2 {
  font-size: .9em;
  color: #838076;
  margin: 0;
}

.object-item > * {
  display: table-cell;
  vertical-align: top;
}

.list-checkbox {
  width: 50px;
}

.object-titles {

}

.checkbox {
  width: 1.5em;
  height: 1.5em;
  margin-top: 10px;
  border: 1px solid #b6b8be;
  border-radius: 2px;
  color: rgb(241, 242, 241);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.13);
  font-size: 1em;
  text-align: center;
  
}

.checkbox i {
  vertical-align: middle;
}

.selected .checkbox {
  background-color: #4bbf47;
  border-color: rgba(0, 0, 0, 0.14);
  color: #f1f2f1;
  border-bottom-color: 0,;
  border-bottom-width: 2px;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.42);
}

.list-checkbox input {
  position: absolute;
  left: -2000px;
}

input.object-list-search {
  width: 100%;
  font-size: .5em;
  padding: 20px;
  border-radius: 0;
  margin: 0;
  text-transform: uppercase;
  background-color: #f1f2f1;
  border-bottom-style: none;
  color: #767676;
}

input.object-list-search:focus {
  background-color: #ffffff;
  outline: none;
}

.object-alerts {
  width: 20px;
  text-align: right;
}

.alert {
  background-color: #bac1d2;
  padding: 2px 8px;
  border-radius: 6px;
  margin-top: 10px;
  display: inline-block;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.53);
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-size: .8em;
  border-bottom-width: 2px;
  box-shadow: 0 2px rgba(0, 0, 0, 0.09);
}

/* @end */

/* @end */