<header>
  <a href="#/dashboard" class="btn left">back</a>
  <h2>{{editCampaign.title}}</h2>
</header>

<div class="scroller_wrapper">
  <div class=" ">
    <button class="btn"  ng-click="togglePanel('social_accounts')">share!</button>
    <a href="#/campaign/{{campaign.id}}/edit" class="btn" ng-click="resetStep()">edit</a>
  </div>
  <div class="scroller">
    <h2>{{editCampaign.title}}</h2>
    <ul class="instances">
      <li ng-repeat="instance in instances" class="instance">
        <a href="#/message/{{instance.instanceId}}">
          <article>
            <h3 ng-bind="instance.author"></h3>
            <time datetime="2013-02-13T01:15-05:00">{{instance.time}}</time>
            <p ng-bind="instance.text"></p>
          </article></a>
      </li>
    </ul>
  </div>
</div>