<header>
  <a href="#/campaign/{{campaignId}}/rewards" class="btn left">back</a>
  <h1>{{title}}</h1>
</header>

<div class="scroller_wrapper  with_header_padding">
  <section class="scroller">
    <h2 ng-bind="viewReward.title"></h2>
    <dl>
      <dt>Description:</dt>
      <dd ng-bind="viewReward.description"></dd>
      <dt>Terms:</dt>
      <dd ng-bind="viewReward.terms"></dd>
    </dl>
    <button ng-click="claimReward(viewReward)" class="btn {{!viewReward.claimed || 'claimed'}}">claim</button>
    <button class="btn" ng-click="togglePanel('share')">share</button>
  </section>
</div>