<header>
  <button ng-click="toggleSidebar()" class="btn left">menu</button>
  
  <button ng-click="toggleEditMode()" class="btn right" ng-switch on="edit_mode">
    <span ng-switch-when="false">edit</span>
    <span ng-switch-when="true">done</span>
  </button>
  
  <h1>{{title}}</h1>
</header>

<div class="scroller_wrapper">
  <section class="scroller">
    <button href="#/new" class="btn full_width" ng-click="start_new = true" ng-show="!start_new">+ New Campaign</button>
    <div ng-show="start_new">
      <form ng-submit="createCampaign(new_campaign_title, handle, is_local, new_campaign_locale, discoverable)">
        <fieldset>
          <input id="has_handle_false" type="radio" name="has_handle" ng-model="has_handle" value="old" />
          <label for="has_handle_false">Previous handle</label>
          <input id="has_handle_true" type="radio" name="has_handle" ng-model="has_handle" value="new" />
          <label for="has_handle_true">New handle</label>
        </fieldset>
        <fieldset ng-show="has_handle == 'new'">
          <input class="inline" type="text" name="new_handle" placeholder="Enter new handle" ng-model="handle" />
        </fieldset>
        <fieldset ng-show="has_handle == 'old'">
          <select ng-model="handle">
            <option ng-repeat="handle in handleList">{{handle}}</option>
          </select>
        </fieldset>     
        <input type="text" name="new_campaign_title" placeholder="Title for new campaign" ng-model="new_campaign_title"/>   
        <button class="btn" type="submit" ng-click="resetStep()">Continue</button>
        <button class="btn" ng-click="start_new = false" type="button">cancel</button>
      </form>
    </div>
    <ul id="campaign_list" class="object_list">
      <li ng-repeat="campaign in campaignList">
        <div ng-show="edit_mode == true">
          <button class="btn right" ng-click="deleteListItem(campaign, campaignList)">delete</button>
          <button class="btn right" ng-click="duplicateMode(true, campaign)">duplicate</button>
        </div>
        <a href="#/campaign/{{campaign.id}}/instances">
          <small>@{{campaign.handle}}</small>
          <h2>{{campaign.title}}</h2>
        </a>
      </li>
      <li ng-show="duplicating_mode">
        <form ng-submit="duplicateCampaign(temp_name, temp_handle)">
          <input type="text" name="temp_name" ng-model="temporary_duplicate.title" placeholder="Type a new name for this duplicated campaign."/>
          <label>Choose a handle</label>
          <select ng-model="temp_handle">
            <option ng-repeat="handle in handleList">{{handle}}</option>
            <option disabled="true">no more available listening points</option>
          </select>
          <button type="submit" class="btn">save</button>
          <button type="reset" class="btn" ng-click="duplicateMode(false, '')">cancel</button>
        </form>
      </li>
    </ul>
  </section>
</div>