<aside id="palette" view="panel">
  <div ng-include src="'partials/panel.html'"></div>
</aside>

<section id="page_02" class="animation_wrapper">
  <header>
    <a href="#/campaign/{{buildCampaign.id}}/instances" class="btn left">cancel</a>
    <a ng-click='advanceStep()' ng-hide='currentStep >= (steps.length-1)' class="btn right">Next Page</a>
    <button ng-show='currentStep >= (steps.length-1)' class="btn right" ng-click="saveChanges()">Save Changes</button>
    <h2>Edit {{buildCampaign.title}}: Step {{steps[currentStep]+1}}</h2>
  </header>
  
<div class="scroller_wrapper  with_header_padding">
  <nav>
    <ol class="breadcrumbs five_btns btnset">
      <li ng-class="{selected: currentStep==n}" class="crumb btn" ng-repeat='n in steps' ng-click='changeStep(n)'>{{n+1}}</li>
    </ol>
  </nav>
  <div class="scroller">
      <h2>{{buildCampaign.title}}</h2>
      <section ng-switch on='currentStep'>
          <div ng-switch-when='0'>
            <div ng-include src="'partials/list_of_questions.html'"></div>
            <button ng-click="togglePanel('Create Question')" class="btn">+ New Question</button>
          </div>
        <div ng-switch-when='1'>
          <form method="post" action="">
            <input type="text" name="title" ng-model="buildCampaign.reward.title" placeholder="Gift Title" />
            <input type="text" name="description" ng-model="buildCampaign.reward.description" placeholder="Description"/>
            <input type="text" name="terms" ng-model="buildCampaign.reward.terms" placeholder="Terms and Conditions"/>
            <input type="date" name="expiration" ng-model="buildCampaign.reward.exp" placeholder="Expiration Date" />
          </form>
        </div>
        <div ng-switch-when='2'>
          <ul>
            <li>Facebook Account<small class="status">connected</small></li>
            <li>Twitter Account<small class="status">connected</small></li>
          </ul>
          <button class="btn" ng-click="togglePanel('social_accounts')">Add new media account</button>
        </div>
        
        <div ng-switch-when='3'>
          <form ng-submit="sendInvite(first, last, invite_email, level, buildCampaign.permissions.pending)">
            <label for="emails">Send email invitations to others to help manage this campaign.</label>
            <input ng-model="first" type="text" name="name" placeholder="first name"/>
            <input ng-model="last" type="text" name="name" placeholder="last name"/>
            <input ng-model="invite_email" type="email" name="email" placeholder="email"/>
            <fieldset>
              <input ng-model="perm_respond" type="checkbox" name="perm_respond" ng-true-value="respond" id="perm_respond"/>
              <label for="perm_respond">respond</label>
              <input ng-model="perm_export" type="checkbox" name="perm_export" ng-true-value="export" id="perm_export"/>
              <label for="perm_export">export</label>
              <input ng-model="perm_admin" type="checkbox" name="perm_admin" ng-true-value="admin" id="perm_admin"/>
              <label for="perm_admin">admin</label>
            </fieldset>
            <button class="new_invite btn">Send</button>
          </form>
          <hr>
          <h2>Permissions set:</h2>
          <ul>
            <li ng-repeat="person in buildCampaign.permissions.accepted">
              {{person.first}} {{person.last}} <small class="status">permission level: {{person.level}}</small>
            </li>
          </ul>
          <h2>Pending Invites:</h2>
          <ul>
            <li ng-repeat="person in buildCampaign.permissions.pending">
              {{person.first}} {{person.last}} ({{person.email}}, {{person.level}}) <small class="status">pending...</small><button class="btn right clear">resend</button>
            </li>
          </ul>
        </div>
        
        <div ng-switch-when='4'>
          <label for="url">Add a physical location to your access point (optional):</label>
          <input type="text" name="location" id="location" placeholder="1 Street Address, Whereverville, FL"/>
          <label for="location">or choose a previous location:</label>
          <select>
            <option>407 9th St, Brooklyn, NY</option>
          </select>
        </div>
      </section>
    </div>
  </div>
</section>