
<aside id="palette" ng-if="palette_visible" class="module_wrapper zoom_fade">
  <div ng-click="togglePanel()" class="module_fader"></div>
  <div ng-include="&quot;partials/panel.html&quot;" class="module editor"></div>
</aside>
<nav class="breadcrumbs"><a href="#/account/{{accountId}}/campaign/{{buildCampaign.id}}/conversations" ng-show="currentStep==0" class="btn soft push_left"><i class="icon-cancel"></i></a>
  <button ng-click="retreatStep()" ng-show="currentStep&gt;=1" class="btn soft push_left"><i class="icon-left-open"></i></button>
  <ol class="dots right">
    <li ng-class="{selected: currentStep==n}" ng-repeat="n in steps" ng-click="changeStep(n)" class="dot"></li>
  </ol>
  <button ng-click="advanceStep()" ng-hide="currentStep== (steps.length-1)" class="btn soft right">next</button>
  <button ng-show="currentStep==(steps.length-1)" ng-click="saveChanges()" class="btn soft right">Save Changes</button>
</nav>
<div class="scroller_wrapper with_breadcrumb_padding">
  <div class="scroller">
    <div class="form">
      <div ng-switch="currentStep" class="creator_steps">
        <div ng-switch-when="0">
          <div class="padded">
            <h1>Ask Questions</h1>
            <p>A smaller number is better. Have fun with it!</p>
          </div>
          <div class="mockup-form card padded">
            <h1 type="text" ng-bind="campaignTitle"></h1>
            <div ng-include src="&quot;partials/form_not_completed.html&quot;"></div>
            <button ng-click="togglePanel('Create Question')" class="outline confirm btn">+ New Question</button>
          </div>
        </div>
        <div ng-switch-when="1">
          <div class="padded">
            <h1>Bonus:</h1>
            <p>Offer a bonus as a "thank you". People will appriciate it.</p>
          </div>
          <form method="post" action="">
            <div class="card padded"> 
              <h3>Bonus Details</h3>
              <label for="personal_message" ng-model="buildCampaign.message">Create a personal message for the recipient:</label>
              <textarea id="personal_message" placeholder="(optional)"></textarea>
              <label for="title">Title</label>
              <input type="text" name="title" ng-model="buildCampaign.reward.title" placeholder="Gift Title"/>
              <label for="terms">Terms</label>
              <input type="text" name="terms" ng-model="buildCampaign.reward.terms" placeholder="Terms and Conditions"/>
            </div>
            <div class="card padded"> 
              <h3>Validity</h3>
              <div>
                <label for="title">Start Date</label>
                <input type="date" name="start_date" ng-model="buildCampaign.reward.start_date" placeholder=""/>
                <label for="title">Start Time</label>
                <input type="time" name="start_time" ng-model="buildCampaign.reward.start_time" placeholder=""/>
                <label for="title">Expiration Date</label>
                <input type="date" name="end_date" ng-model="buildCampaign.reward.end_date" placeholder=""/>
                <label for="title">Expiration Time</label>
                <input type="time" name="end_time" ng-model="buildCampaign.reward.end_time" placeholder=""/>
                <input id="delay" type="checkbox" name="delay" class="inline"/>
                <label for="delay" class="inline">24-hour delay<small>(user must wait 24 hours before redeeming.)</small></label>
              </div>
            </div>
            <div class="card padded"> 
              <h3>Sharability</h3>
              <div>
                <fieldset>
                  <input id="not_sharable" ng-model="sharability" type="radio" name="sharability" ng-true-value="not_sharable" class="inline"/>
                  <label for="not_sharable" class="inline">No sharing this bonus. </label>
                </fieldset>
                <fieldset>
                  <input id="sharable_three" ng-model="sharability" type="radio" name="sharability" ng-true-value="sharable_three" class="inline"/>
                  <label for="sharable_three" class="inline">Recipient can share with three friends.</label>
                </fieldset>
                <fieldset>
                  <input id="sharable_any" ng-model="sharability" type="radio" name="sharability" ng-true-value="sharable_any" class="inline"/>
                  <label for="sharable_any" class="inline">Openly sharable.</label>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
        <div ng-switch-when="2">
          <div class="padded">
            <h1>Get social</h1>
            <p>Add social media accounts. Let people share positive feedback.</p>
          </div>
          <div class="card padded">
            <button class="btn fb">Connect with Facebook</button><br/>
            <button class="btn tw">Connect with Twitter</button><br/>
            <button class="btn gp">Connect with Google+</button>
          </div>
        </div>
        <div ng-switch-when="3">
          <div class="padded">
            <h1>Add Permissions</h1>
            <p>Get your team involved.</p>
          </div>
          <form ng-submit="sendInvite(first, last, invite_email, level, buildCampaign.permissions.pending)" class="card padded">
            <h3>Invite Teammate</h3>
            <label for="name">Full Name</label>
            <input ng-model="name" type="text" name="name" placeholder="name"/>
            <label for="email">Email</label>
            <input ng-model="invite_email" type="email" name="email" placeholder="email"/>
            <label for="message">Message</label>
            <textarea placeholder="optional"></textarea>
            <div>
              <label>Permission level</label>
              <fieldset>
                <input id="perm_respond" ng-model="perm_respond" type="checkbox" name="perm_respond" ng-true-value="respond" class="inline"/>
                <label for="perm_respond" class="inline">review only</label>
              </fieldset>
              <fieldset>
                <input id="perm_export" ng-model="perm_export" type="checkbox" name="perm_export" ng-true-value="export" class="inline"/>
                <label for="perm_export" class="inline">review + respond</label>
              </fieldset>
              <fieldset>
                <input id="perm_admin" ng-model="perm_admin" type="checkbox" name="perm_admin" ng-true-value="admin" class="inline"/>
                <label for="perm_admin" class="inline">admin</label>
              </fieldset>
            </div>
            <button class="new_invite btn">Send</button>
          </form>
          <div class="card padded">
            <h2>Permissions set</h2>
            <ul>
              <li ng-repeat="person in buildCampaign.permissions.accepted">{{person.first}} {{person.last}}<small class="status">permission level: {{person.level}}</small>
                <button ng-click="deleteListItem($index, buildCampaign.permissions.accepted)" class="btn right">revoke</button>
                <div>
                  <label>change permissions</label>
                  <fieldset>
                    <input id="perm_respond_change" ng-model="person.level" type="checkbox" name="perm_respond" ng-true-value="respond" class="inline"/>
                    <label for="perm_respond_change" class="inline">review only</label>
                  </fieldset>
                  <fieldset>
                    <input id="perm_export_change" ng-model="person.level" type="checkbox" name="perm_export" ng-true-value="export" class="inline"/>
                    <label for="perm_export_change" class="inline">review + respond</label>
                  </fieldset>
                  <fieldset>
                    <input id="perm_admin_change" ng-model="person.level" type="checkbox" name="perm_admin" ng-true-value="admin" class="inline"/>
                    <label for="perm_admin_change" class="inline">admin</label>
                  </fieldset>
                </div>
              </li>
            </ul>
            <h2>Pending Invites</h2>
            <ul>
              <li ng-repeat="person in buildCampaign.permissions.pending">{{person.first}} {{person.last}} ({{person.email}}, {{person.level}})<small class="status">pending...</small>
                <button class="btn right clear">resend</button>
                <button ng-click="deleteListItem($index, buildCampaign.permissions.pending)" class="btn right">cancel</button>
              </li>
            </ul>
          </div>
        </div>
        <div ng-switch-when="4">
          <div class="card padded">
            <h1>Launch campaign</h1>
            <p>Send your campiagn into the world.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>