<header class="app_header">
  <button ng-click="toggleSidebar('right')" class="btn icon left"><i class="icon-menu"></i></button>
  <h1 ng-bind="title"></h1>
</header>
<div class="scroller_wrapper  with_header_padding">
  <div class="scroller">
    <ul class="conversations" ng-repeat="campaign in campaignList">
      <li ng-repeat="conversation in campaign.conversations" class="instance">
        <aside class="btn_set vert">
          <button class="btn">!</button>
        </aside>
        <article class="card">
          <button ng-click="hearIt(instance)" class="btn heard heard_{{instance.heard}}" ui-if="instance.author != 'You'">heard!</button>
          <h4 ng-bind="instance.author"></h4>
          <time ng-bind="instance.time"></time>
          <p ng-bind="instance.text" ng-click="expandReplies($index)"></p>
          <ul class="replies" ng-show="isExpanded($index) && instance.comments[2]">
            <li ng-repeat="comment in instance.comments | limitTo:(instance.comments.length-2)" class="reply">
              length: 
              {{$last}}
              <button ng-click="hearIt(comment)" class="btn heard heard_{{comment.heard}}" ui-if="comment.author != 'You'">heard!</button>
              <h5 ng-bind="comment.author"></h5>
              <p ng-bind="comment.text"></p>
            </li>
          </ul>
          <ul class="replies">
            <li class="reply" ng-show="instance.comments[(instance.comments.length-2)]">
              <button ng-click="hearIt(instance.comments[(instance.comments.length-2)])" class="btn heard heard_{{instance.comments[(instance.comments.length-2)].heard}}" ui-if="instance.comments[(instance.comments.length-2)].author != 'You'">heard!</button>
              <h5 ng-bind="instance.comments[(instance.comments.length-2)].author"></h5>
              <p ng-bind="instance.comments[(instance.comments.length-2)].text"></p>
            </li>
            <li class="reply" ng-show="instance.comments[(instance.comments.length-1)]">
              <button ng-click="hearIt(instance.comments[(instance.comments.length-1)])" class="btn heard heard_{{instance.comments[(instance.comments.length-1)].heard}}" ui-if="instance.comments[(instance.comments.length-1)].author != 'You'">heard!</button>
              <h5 ng-bind="instance.comments[(instance.comments.length-1)].author"></h5>
              <p ng-bind="instance.comments[(instance.comments.length-1)].text"></p>
            </li>
          </ul>
          <form class="reply" ng-submit="addReply(newCommentText, instance.comments)">
            <input type="text" name="new_comment" ng-model="newCommentText" />
            <button class="btn"type="submit">reply</button>
          </form>
        </article>
      </li>
    </ul>
  </div>
</div>