<header>
  <a href="#/dashboard" class="btn left">Dashboard</a>
  <button class="btn right" ng-click="toggleSidebar('left')"> . . . </button>
  <h1 ng-bind="title"></h1>
</header>
<div class="scroller_wrapper with_header_padding">
  <div class="scroller">
    <p ng-show="viewCampaign.instances == []">empty!</p>
    <ul class="instances">
      <li ng-repeat="instance in viewCampaign.instances" class="instance" ng-controller="instanceCtr" ng-include src="'partials/instance.html'"></li>
    </ul>
  </div>
</div>
<aside class="tools_panel" ng-class="{visible: conversationDetailView == true}">
  <header>
    <button ng-click="toggleToolPanel()">close</button>
  </header>
  <div class="scroller_wrapper with_header_padding">
    <div class="scroller">
      <h1>Collaboration Tools</h1>
      <dl>
        <dt>importance:</dt>
        <dd ng-bind="viewConversation.importance"></dd>
        <dt>tags:</dt>
        <dd>
          <ul>
            <li ng-repeat="tag in viewConversation.tags">
              <span ng-bind="tag"></span><span ng-click="removeTag(tag, viewConversation.tags)">[x]</span>
            </li>
          </ul>
          <form ng-submit="addTag(tag_to_submit, viewConversation.tags)">
            <input type="text" ng-model="tag_to_submit" />
            <button type="submit">save tag</button>
          </form>
        </dd>
        <dt>tagged users:</dt>
        <dd>
          <ul>
            <li ng-repeat="user in viewConversation.tagged_users">
              <span ng-bind="user"></span><span ng-click="removeTag(user, viewConversation.tagged_users)">[x]</span>
            </li>
          </ul>
          <form ng-submit="addTag(user_to_submit, viewConversation.tagged_users)">
            <input type="text" ng-model="user_to_submit" />
            <button type="submit">save tag</button>
          </form>
        </dd>
        <dt>Notes:</dt>
        <dd>
          <ul>
            <li ng-repeat="comment in viewConversation.comments">
              <span ng-bind="comment.text"></span>
            </li>
          </ul>
          <form ng-submit="addComment(comment_text, viewConversation.comments)">
            <input type="text" ng-model="comment_text"/>
            <button type="submit">save comment</button>
          </form>
        </dd>
      </dl>
    </div>
  </div>
</aside>