
<article ng-init="instance.cap = -2">
  <header class="instance_header">
    <div class="left">
      <div class="profile_pic jon_hamm"></div>
    </div>
    <div class="middle">
      <h3><a href="#/campaign/{{viewCampaign.id}}/contacts/{{instance.author}}" ng-bind="instance.author"></a></h3>
      <time ng-bind="instance.time"></time>
    </div>
    <div class="right">
      <div class="header_tools">
        <button ng-click="toggleToolPanel(instance)" class="btn icon right"><i class="icon-info-circled-alt"></i></button>
      </div>
    </div>
  </header>
  <div class="form_response">
    <div ng-include="&quot;partials/form_completed.html&quot;" class="questions"></div>
    <dl class="bonus">
      <dt>Bonus:</dt>
      <dd>{{instance.reward.title}}<br/><small>claimed on {{instance.reward.date_claimed}}</small></dd>
    </dl>
  </div>
  <div ng-if="isExpandable" class="expand_wrapper">
    <button ng-click="expandReplies(instance)" class="btn icon expand"><span ng-if="!instance.isExpanded">view all {{instance.comments.length}} comments</span><span ng-if="instance.isExpanded">hide older comments</span></button>
  </div>
  <ul class="comments">
    <li ng-repeat="comment in (instance.comments | limitTo:instance.cap)" ng-animate="'collapse'" ng-class="{you: comment.author == &quot;You&quot;}" class="comment fade">
      <div ng-if="comment.author == &quot;You&quot;" class="comment_wrapper">
        <div>
          <div class="profile_pic john"></div>
        </div>
        <div class="text">
          <h4>@{{campaignHandle}}</h4>
          <p ng-bind="comment.text"></p>
          <time>5m ago</time>
        </div>
      </div>
      <div ng-if="comment.author != &quot;You&quot;" class="comment_wrapper">
        <div> 
          <div class="profile_pic jon_hamm"></div>
        </div>
        <div class="text">
          <h4 ng-bind="comment.author"></h4>
          <p ng-bind="comment.text"></p>
          <time>5m ago</time>
        </div>
      </div>
    </li>
  </ul>
  <form ng-submit="addReply(newCommentText, instance.comments)" class="one_line">
    <button ng-if="instance.heardConditions" type="button" ng-click="addHeard()" class="btn active">heard</button>
    <button ng-if="!instance.heardConditions" ng-class="{active : newCommentText &gt; 0}" type="submit" class="btn">send</button>
    <input type="text" name="new_comment" ng-model="newCommentText" placeholder="add a reply" ng-focus="instance.heardConditions = false" ng-blur="checkHeardConditions(newCommentText)"/>
  </form>
</article>