<article class="card" ng-init="instance.cap = -2">
  <h4>
    <span ng-bind="instance.name"></span>
    <span ng-bind="instance.handle"></span>
  </h4>
  <time ng-bind="instance.time"></time>
  <p ng-bind="instance.text" ng-click="expandReplies(instance)"></p>
  <div ng-include src="'partials/form_completed.html'"></div>
  
  <h5>Conversation:</h5>
  <ul class="replies">
    <li ng-repeat="comment in (instance.comments | limitTo:instance.cap)" class="reply" ng-animate="'collapse'">
      <h6>
        <span ui-if="comment.author != 'You'" ng-bind="comment.author"></span>
        <span ui-if="comment.author == 'You'">You</span>
      </h6>
      <p ng-bind="comment.text"></p>
    </li>
  </ul>
  <form class="reply" ng-submit="addReply(newCommentText, instance.comments)">
    <button class="btn inline" type="submit">reply</button>
    <input type="text" name="new_comment" ng-model="newCommentText" class="inline"/>
  </form>
</article>
