<section id="new">
  <header>
    <a href="#/dashboard" class="btn left">cancel</a>
    <a ng-click='advanceStep()' ng-hide='currentStep >= (steps.length-1)' class="btn right">Next Step</a>
    <a href="#/dashboard" ng-show='currentStep >= (steps.length-1)' ng-click="activateCampaign()" class="btn right">Activate Campaign</a>
    <h2 ng-click="toggleHeaderDropdown()">Create New Campaign: Step {{steps[currentStep]+1}}</h2>
    <nav class="header_dropdown closed">
      <ol>
        <li ng-repeat='n in steps' ng-click='changeStep(n)'>Step {{n+1}}</li>
      </ol>
    </nav>
  </header>
  
  <div class="scroller_wrapper">
    <div class="scroller">
      <h2>{{buildCampaign.title}}</h2>
      <section ng-switch on='currentStep'>
        <div ng-switch-when='0'>
          <button ng-click="togglePanel('new_question')" class="btn">+ New Question</button>
          <ol>
            <li ng-repeat="question in buildCampaign.questionsList">
              <!--Start 'mcSingleSelect' Template-->
              <div ng-show="question.type == 'mcSingleSelect'">
                <h3>Multiple-Choice: Single-Select</h3>
                <input type="text" name="question_{{question.id}}" ng-model="question.text" placeholder="Enter your question here." />
                <ul class='answers'>
                  <li ng-repeat="answer in question.answers">
                    <input type="text" name="answer_{{question.id}}{{answer.id}}" ng-model="answer.text" placeholder="add an answer here."/>
                  </li>
                </ul>
                
                <form ng-submit="addAnswer(newAnswerText, question.answers)">
                  <input type='text' name='{{question.id}}_question' placeholder='add your question here.' ng-model="newAnswerText"/>
                  <button id='{{question.id}}_add_answer' type="submit" class='btn'>+ add new answer</button>
                </form>
                
              </div>
              <!--End 'mcSingleSelect' Template-->
              
              <!--Start 'mcSingleSelect' Template-->
              <div ng-show="question.type == 'mcMultiSelect'">
                <h3>Multiple-Choice: Multi-Select</h3>
                <input type="text" name="question_{{question.id}}" ng-model="question.text" placeholder="Enter your question here." />
                <ul class='answers'>
                  <li ng-repeat="answer in question.answers">
                    <input type="text" name="answer_{{question.id}}{{answer.id}}" ng-model="answer.text" placeholder="add an answer here."/>
                  </li>
                </ul>
                
                <form ng-submit="addAnswer(newAnswerText, question.answers)">
                  <input type='text' name='{{question.id}}_question' placeholder='add an answer here.' ng-model="newAnswerText"/>
                  <button id='{{question.id}}_add_answer' type="submit" class='btn'>+ add new answer</button>
                </form>
              </div>
              <!--End 'mcMultiSelect' Template-->
              
              <!--Start 'dropdown' Template-->
              <div ng-show="question.type == 'dropdown'">
                <h3>Dropdown</h3>
                <input type="text" name="question_{{question.id}}" ng-model="question.text" placeholder="Enter your question here." />
                <ul class='answers'>
                  <li ng-repeat="answer in question.answers">
                    <input type="text" name="answer_{{question.id}}{{answer.id}}" ng-model="answer.text" placeholder="add an answer here."/>
                  </li>
                </ul>
                
                <form ng-submit="addAnswer(newAnswerText, question.answers)">
                  <input type='text' name='{{question.id}}_question' placeholder='add your question here.' ng-model="newAnswerText"/>
                  <button id='{{question.id}}_add_answer' type="submit" class='btn'>+ add new answer</button>
                </form>
              </div>
              <!--End 'dropdown' Template-->
              
              <!--Start 'text' Template-->
              <div ng-show="question.type == 'text'">
                <h3>Free Text Response</h3>
                <input type="text" name="question_{{question.id}}" ng-model="question.text" placeholder="Enter your question here." />
                <ul class='answers'>
                  <li ng-repeat="answer in question.answers">
                    <input type="text" name="answer_{{question.id}}{{answer.id}}" ng-model="answer.text" placeholder="add an answer here."/>
                  </li>
                </ul>
              </div>
              <!--End 'mcMultiSelect' Template-->
              
            </li>
          </ol>
        </div>
        <div ng-switch-when='1'>
          <form method="post" action="">
            <input type="text" name="title" ng-model="buildCampaign.reward.title" placeholder="Gift Title" />
            <input type="text" name="description" ng-model="buildCampaign.reward.description" value="" placeholder="Description"/>
            <input type="text" name="terms" ng-model="buildCampaign.reward.terms" value="" placeholder="Terms and Conditions"/>
          </form>
        </div>
        <div ng-switch-when='2'>
          <ul>
            <li>This will be a list of the social accounts you have connected to this campaign.</li>
          </ul>
          <button class="btn" ng-click="togglePanel('social_accounts')">Add new media account</button>
        </div>
        
        <div ng-switch-when='3'>
          <form ng-submit="sendInvite(first, last, invite_email, level, buildCampaign.permissions.pending)">
            <label for="emails">Send email invitations to others to help manage this campaign.</label>
            <input ng-model="first" type="text" name="name" placeholder="first name"/>
            <input ng-model="last" type="text" name="name" placeholder="last name"/>
            <input ng-model="invite_email" type="email" name="email" placeholder="email"/>
            <fieldset>
              <input ng-model="level" type="radio" name="level" value="read" id="read"/>
              <label for="read">View Analytics</label>
              <input ng-model="level" type="radio" name="level" value="read,write" id="readwrite"/>
              <label for="readwrite">View and edit details</label>
            </fieldset>
            <button class="new_invite btn">Send</button>
          </form>
          <hr>
          <h2>Permissions set:</h2>
          <ul>
            <li ng-repeat="person in buildCampaign.permissions.accepted">
              <button class="btn">resend</button>{{person.first}} {{person.last}} <small class="status">permission level: {{person.level}}</small>
            </li>
          </ul>
          <h2>Pending Invites:</h2>
          <ul>
            <li ng-repeat="person in buildCampaign.permissions.pending">
              {{person.first}} {{person.last}} ({{person.email}}, {{person.level}}) <small class="status">pending...</small><button class="btn right clear">resend</button>
            </li>
          </ul>
        </div>
        
        <div ng-switch-when='4'>
          <label for="url">Choose a URL for your access point</label>
          <input type="text" name="url" id="url" value="fdbk.com/business_name"/>
          <label for="access_points">or choose a previous access point.</label>
          <select>
            <option>407 9th St, Brooklyn, NY</option>
          </select>
        </div>
      </section>
    </div>
  </div>

</section>