!!! 5
html(lang='en', ng-app='appmodule', ng-controller='appCtr')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1', user-scalable='0')
    meta(name="apple-mobile-web-app-capable", content="yes")
    
    title Fdbk
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    script(src='js/sugar-1.3.9.min.js')
    // jQuery UI Sortable
    script(src='js/jqueryui/jquery_2.0.3.js')
    script(src='js/jqueryui/jquery-ui-1.10.3.custom.min.js')
    script(src='js/jqueryui/jqueryui-touch.js')
    script(src='js/angular/angular_1.2.0-rc2.js')
    link(rel='stylesheet', href='css/normalize.css', type='text/css')
    link(rel='stylesheet', href='css/app.css', type='text/css')
    link(rel='stylesheet', href='css/fontello/css/fontello.css', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,600', rel='stylesheet', type='text/css')
    
  body(ng-controller='userCtr')
    // .control_panel(ng-controller='controlPanelCtr', jq-draggable='jq-draggable')
    //   button(ng-click='receiveFdbk()') Receive Fdbk!
    .everything_wrapper
      .main_wrapper
        main.main_view(ng-class='{slide_right : sidebar_visible}')
          ui-view.fade
      nav.main_nav.sidebar       
        ul
          li.personal
            a(ng-click='togglePersonalPages()') Elliott Regan
            ul.expando.slide_down(ng-if='personal_pages_visible')
              li(ng-class='{selected : current_page == "user_settings"}')
                a(href='#/settings', ng-click='toggleSidebar()')
                  i.icon-cog
                  | Profile
              li(ng-class='{selected : current_page == "user_bonuses"}')
                a(href='#/rewards', ng-click='toggleSidebar()')
                  i.icon-trophy
                  | Bonuses
              li(ng-class='{selected : current_page == "user_history"}')
                a(href='#/history', ng-click='toggleSidebar()')
                  i.icon-chat
                  | Conversations
          li.home(ng-class='{selected : accountId == "all"}')
            a(href='#/account/all/campaign/camp0+camp1+camp2/conversations', ng-click='toggleSidebar()') Global Conversations
          li(ng-repeat='account in accountList', ng-class='{selected : accountId == account.id}')
            a(href='#/account/{{account.id}}/dashboard', ng-click='toggleSidebar()')
              span(ng-bind='account.id')
        .tools
          button.btn.soft.new_handle + Create new account
    // App libraries
    script(src='js/angular/app.js')
    script(src='js/angular/appControllers.js')
    script(src='js/angular/appDirectives.js')
    script(src='js/angular/appFactories.js')
    script(src='js/angular/directives/angular-animate.js')
    script(src='js/angular/directives/ui-sortable.js')
    script(src='js/angular/directives/select.js')
    script(src='js/d3.js')
    script(src='js/nvd3/nv.d3.js')
    link(rel='stylesheet', href='js/nvd3/nv.d3.css')
    script(src='js/angularjs-nvd3/dist/angularjs-nvd3-directives.js')
    script(src='js/angular/directives/angular-ui-router_for-1.2-animations.js')
