<!DOCTYPE html>
<html lang="en" ng-app="appmodule" ng-controller="appCtr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Fdbk</title>
  
  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'js/zepto_rc1' : 'js/jquery_1.9.1') +
  '.js><\/script>')
  </script>
  
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  
  <script src="js/angular/angular.min.js" type="text/javascript"></script>
  <script src="js/angular/angular-ui-0.4/build/angular-ui.js" type="text/javascript"></script>
  <script src="js/angular/app.js" type="text/javascript"></script>
  <script src="js/angular/appControllers.js" type="text/javascript"></script>
  <script src="js/angular/appDirectives.js" type="text/javascript"></script>
  
  <script type='application/javascript' src='js/fastclick.js'></script>
  
  <script type="text/javascript">
    window.addEventListener('load', function() {
        new FastClick(document.body);
    }, false);
  </script>
  
  <link rel="stylesheet" href="app.css" type="text/css" />
</head>
<body>
  <main>
    <div deepnav></div>
    <section id="page_00" class="page last"></section>
    
    <script type=text/ng-template id=dashboard.html>
      <header>
        <button ui-event="{click : 'toggleSidebar()'}" class="btn right">menu</button>
        <h1>{{title}}</h1>
      </header>
      
      <section class="scroller">
        <button href="#/new" class="btn" ng-click="start_new = true">+ New Campaign</button>
        <div ng-show="start_new">
          <form ng-submit="createCampaign(new_campaign_title, is_local, new_campaign_locale, discoverable, buildCampaign)">
            <input type="text" name="new_campaign_title" placeholder="Title for new campaign" ng-model="new_campaign_title"/>
            <fieldset>
              <input id="is_local_true" type="radio" name="is_local" ng-model="is_local" value="true" />
              <label for="is_local_true">Has a location</label>
              <input id="is_local_false" type="radio" name="is_local" ng-model="is_local" value="false" />
              <label for="is_local_false">Does not have a location</label>
            </fieldset>
            
            <fieldset ng-show="is_local">
              <input type="text" name="new_campaign_local" ng-model="new_campaign_locale" placeholder="Location for campaign" /><br>
              
              <input id="discoverable" ng-model="discoverable" type="checkbox" name="discoverable" value="true" checked=checked />
              <label for="discoverable">This campaign is discoverable by users nearby.</label>
            </fieldset>
            
            <button class="btn" type="submit">Save and edit details</button>
            <button class="btn" ng-click="start_new = false" type="button">cancel</button>
          </form>
        </div>
        <ul id="campaign_list">
          <li ng-repeat="campaign in campaignList">
            <div class="campaign_info btn_set vert">
              <a class="btn">share!</a>
              <a href="#/edit/{{campaign.id}}" class="btn" onclick="goLevelTwo()">edit</a>
            </div>
            <h2>{{campaign.name}}</h2>
            <div>
              <p>{{campaign.description}}</p>
            </div>
            <div class="clear"></div>
          </li>
        </ul>
      </section>
    </script>
    
    <script type=text/ng-template id=new.html>
       <section id="new">
         <header>
           <a href="#/dashboard" onclick="goLevelOne()" class="btn left">cancel</a>
           <a ng-click='advanceStep()' ng-hide='currentStep >= (steps.length-1)' class="btn right">Next Step</a>
           <a href="#/dashboard" ng-show='currentStep >= (steps.length-1)' class="btn right">Save Changes</a>
           <h2 ng-click="toggleHeaderDropdown()">Create New Campaign: Step {{steps[currentStep]+1}}</h2>
           <nav class="header_dropdown closed">
             <ol>
               <li ng-repeat='n in steps' ng-click='changeStep(n)'>Step {{n+1}}</li>
               <li><a href="#/dashboard">Save Changes</a></li>
             </ol>
           </nav>
         </header>
         
         <div class="scroller">
           <h2>{{buildCampaign.title}}</h2>
           <section ng-switch on='currentStep'>
             <div ng-switch-when='0'>
               <button ng-click="togglePanel('new_question')" class="btn">+ New Question</button>
               <ol>
                 <li ng-repeat="question in buildCampaign.questionsList">
                   <!--Start 'mcSingleSelect' Template-->
                   <div ng-show="question.type == 'mcSingleSelect'">
                     <h3>Multiple-Choice: Single-Select</h3>
                     <input type="text" name="question_{{question.id}}" ng-model="question.text" placeholder="Enter your question here." />
                     <ul class='answers'>
                       <li ng-repeat="answer in question.answers">
                         <input type="text" name="answer_{{question.id}}{{answer.id}}" ng-model="answer.text" />
                       </li>
                     </ul>
                     
                     <form ng-submit="addAnswer(newAnswerText, question.answers)">
                       <input type='text' name='{{question.id}}_question' placeholder='add your question here.' ng-model="newAnswerText"/>
                       <button id='{{question.id}}_add_answer' type="submit" class='btn'>+ add new answer</button>
                     </form>
                     
                   </div>
                   <!--End 'mcSingleSelect' Template-->
                   
                   <!--Start 'mcSingleSelect' Template-->
                   <div ng-show="question.type == 'mcMultiSelect'">
                     <h3>Multiple-Choice: Multi-Select</h3>
                     <input type="text" name="question_{{question.id}}" ng-model="question.text" placeholder="Enter your question here." />
                     <ul class='answers'>
                       <li ng-repeat="answer in question.answers">
                         <input type="text" name="answer_{{question.id}}{{answer.id}}" ng-model="answer.text" />
                       </li>
                     </ul>
                     
                     <form ng-submit="addAnswer(newAnswerText, question.answers)">
                       <input type='text' name='{{question.id}}_question' placeholder='add your question here.' ng-model="newAnswerText"/>
                       <button id='{{question.id}}_add_answer' type="submit" class='btn'>+ add new answer</button>
                     </form>
                   </div>
                   <!--End 'mcMultiSelect' Template-->
                   
                   <!--Start 'dropdown' Template-->
                   <div ng-show="question.type == 'dropdown'">
                     <h3>Dropdown</h3>
                     <input type="text" name="question_{{question.id}}" ng-model="question.text" placeholder="Enter your question here." />
                     <ul class='answers'>
                       <li ng-repeat="answer in question.answers">
                         <input type="text" name="answer_{{question.id}}{{answer.id}}" ng-model="answer.text" />
                       </li>
                     </ul>
                     
                     <form ng-submit="addAnswer(newAnswerText, question.answers)">
                       <input type='text' name='{{question.id}}_question' placeholder='add your question here.' ng-model="newAnswerText"/>
                       <button id='{{question.id}}_add_answer' type="submit" class='btn'>+ add new answer</button>
                     </form>
                   </div>
                   <!--End 'dropdown' Template-->
                   
                   <!--Start 'text' Template-->
                   <div ng-show="question.type == 'text'">
                     <input type="text" name="question_{{question.id}}" ng-model="question.text" placeholder="Enter your question here." />
                     <ul class='answers'>
                       <li ng-repeat="answer in question.answers">
                         <input type="text" name="answer_{{question.id}}{{answer.id}}" ng-model="answer.text" />
                       </li>
                     </ul>
                     
                     <form ng-submit="addAnswer(newAnswerText, question.answers)">
                       <input type='text' name='{{question.id}}_question' placeholder='add your question here.' ng-model="newAnswerText"/>
                       <button id='{{question.id}}_add_answer' type="submit" class='btn'>+ add new answer</button>
                     </form>
                   </div>
                   <!--End 'mcMultiSelect' Template-->
                   
                 </li>
               </ol>
             </div>
             <div ng-switch-when='1'>
               <form method="post" action="">
                 <input type="text" name="title" value="" placeholder="Gift Title" />
                 <input type="text" name="description" value="" placeholder="Description"/>
                 <input type="text" name="terms" value="" placeholder="Terms and Conditions"/>
               </form>
             </div>
             <div ng-switch-when='2'>
               <ul>
               </ul>
               <button class="btn" ng-click="togglePanel(social_accounts)">Add new media account</button>
             </div>
             
             <div ng-switch-when='3'>
               <form ng-submit="sendInvite(first, last, invite_email, level, buildCampaign.permissions.pending)">
                 <label for="emails">Send email invitations to others to help manage this campaign.</label>
                 <input ng-model="first" type="text" name="name" placeholder="first name"/>
                 <input ng-model="last" type="text" name="name" placeholder="last name"/>
                 <input ng-model="invite_email" type="email" name="email" placeholder="email"/>
                 <fieldset>
                   <input ng-model="level" type="radio" name="level" value="read" id="read"/>
                   <label for="read">View Analytics</label>
                   <input ng-model="level" type="radio" name="level" value="read,write" id="readwrite"/>
                   <label for="readwrite">View and edit details</label>
                 </fieldset>
                 <button class="new_invite btn">Send</button>
               </form>
               <hr>
               <h2>Permissions set:</h2>
               <ul>
                 <li ng-repeat="person in buildCampaign.permissions.accepted">
                   <button class="btn">resend</button>{{person.first}} {{person.last}} <small class="status">permission level: {{person.level}}</small>
                 </li>
               </ul>
               <h2>Pending Invites:</h2>
               <ul>
                 <li ng-repeat="person in buildCampaign.permissions.pending">
                   {{person.first}} {{person.last}} ({{person.email}}, {{person.level}}) <small class="status">pending...</small><button class="btn right clear">resend</button>
                 </li>
               </ul>
             </div>
             
             <div ng-switch-when='4'>
               <label for="url">Choose a URL for your access point</label>
               <input type="text" name="url" id="url" value="fdbk.com/business_name"/>
               <label for="access_points">or choose a previous access point.</label>
               <select>
                 <option>407 9th St, Brooklyn, NY</option>
               </select>
             </div>
           </section>
         </div>
       
       </section>
    </script>
    
    <script type=text/ng-template id=inbox.html>
       <header>
         <button ui-event="{click : 'toggleSidebar()'}" class="btn right">menu</button>
         <h1>{{title}}</h1>
       </header>
       <div class="scroller">
         <ul>
           <li ng-repeat="instance in instances" class="instance">
             <aside class="btn_set vert">
               <button class="btn">add note</button>
               <button class="btn">important</button>
             </aside>
             <article>
               <h3>{{instance.author}}</h3>
               <time datetime="2013-02-13T01:15-05:00">{{instance.time}}</time>
               <p>
                 <button ng-click="hearIt(instance)" class="btn heard heard_{{instance.heard}}">heard!</button>
                 <button class="btn heard" ui-if="comment.author != 'You'">share</button>
                 {{instance.text}}
               </p>
               <ul class="replies">
                 <li class="reply" ng-repeat="comment in instance.comments">
                   <article>
                     <h4>{{comment.author}}</h4>
                     <time datetime="2013-02-13T01:15-05:00">{{comment.time}}</time>
                     <p>
                       <button ng-click="hearIt(comment)" class="btn heard heard_{{comment.heard}}" ui-if="comment.author != 'You'">heard!</button>
                       <button class="btn heard" ui-if="comment.author != 'You'">share</button>
                       {{comment.text}}
                     </p>
                   </article>
                 </li>
                 <li>
                   <form ng-submit="addReply(newCommentText, instance.comments)">
                     <input type="text" name="new_comment" ng-model="newCommentText" />
                     <button class="btn"type="submit">reply</button>
                   </form>
                 </li>
               </ul>
             </article>
           </li>  
         </ul>
       </div>
    </script>
    
    <script type=text/ng-template id=edit.html>
      <section id="page_02">
      
        <header>
          <a href="#/dashboard" onclick="goLevelOne()" class="btn left">cancel</a>
          <a ng-click='advanceStep()' ng-hide='currentStep >= (steps.length-1)' class="btn right">Next Step</a>
          <a href="#/dashboard" ng-show='currentStep >= (steps.length-1)' class="btn right">Save Changes</a>
          <h2 ng-click="toggleHeaderDropdown()">Edit Campaign #1: Step {{steps[currentStep]+1}}</h2>
          <nav class="header_dropdown closed">
            <ol>
              <li ng-repeat='n in steps' ng-click='changeStep(n)'>Step {{n+1}}</li>
              <li><a href="#/dashboard">Save Changes</a></li>
            </ol>
          </nav>
        </header>
        
        <div class="scroller">
          <h2>{{openedCampaign.name}}</h2>
          <section ng-switch on='currentStep'>
            <div ng-switch-when='0'>
              <ol>
                <li ng-repeat="question in openedCampaign.questionsList">
                  {{question}}
                </li>
              </ol>
            </div>
            <div ng-switch-when='1'>
              <form method="post" action="">
                <input type="text" name="title" value="" placeholder="Gift Title" />
                <input type="text" name="description" value="" placeholder="Description"/>
                <input type="text" name="terms" value="" placeholder="Terms and Conditions"/>
              </form>
            </div>
            <div ng-switch-when='2'>
              <ul>
                <li>Facebook Account<small class="status">connected</small></li>
                <li>Twitter Account<small class="status">connected</small></li>
              </ul>
              <button class="dotted">Add new social account</button>
            </div>
            
            <div ng-switch-when='3'>
              <label for="emails">Send email invitations to others to help manage this campaign.</label>
              <input type="text" name="name" value="" placeholder="name"/>
              <input type="email" name="email" value="" placeholder="email"/>
              <fieldset>
                <input type="radio" name="permission" id="read"/>
                <label for="read">View Analytics</label>
                <input type="radio" name="permission" id="readwrite"/>
                <label for="readwrite">View and edit details</label>
              </fieldset>
              <button class="new_invite">Send</button>
              <hr>
              <h2>Invites sent:</h2>
              <ul>
                <li><button>resend</button>John Doe<small class="status">pending...</small></li>
                <li>Jane Roberts<small class="status">accepted</small></li>
              </ul>
            </div>
            
            <div ng-switch-when='4'>
              <label for="url">Choose a URL for your access point</label>
              <input type="text" name="url" id="url" value="fdbk.com/business_name"/>
              <label for="access_points">or choose a previous access point.</label>
              <select>
                <option>407 9th St, Brooklyn, NY</option>
              </select>
            </div>
          </section>
        </div>
      
      </section>
    </script>
    
  </main>
  
  <nav id="sidebar" ng-controller="sidebarCtr" class="main_nav">
    <ul>
      <li ng-repeat="page in appPages">
        <a href="#/{{page}}" ng-click="toggleSidebar()">{{page}}</a>
      </li>
    </ul>
  </nav>
  
  <aside id="palette" ng-controller="panelCtr" view="panel">
    <header>
      <button ui-event="{click : 'chooseQType(qtype, buildCampaign)'}" class="btn right">select</button>
      <button ui-event="{click : 'togglePanel()'}" class="btn left">cancel</button>
      <h2>panel</h2>
    </header>
    <div class="content scroller">
      <div ng-show="panel=='new_question'">
        <ul class="qtype_list">
          <li data-qtype='mcMultiSelect' class="qtype">
            <input type="radio" name="qtype" id="qtype_mcMultiSelect" ng-model="qtype" value="mcMultiSelect" />
            <label for="qtype_mcMultiSelect">
              <h2>Multiple Choice: Multi-select</h2>
              <p>A question followed by a series of possible answers. Any number can be chosen.</p>
              <legend>Choose several options below:</legend>
                <input type="checkbox" name="a_01" value="a_01" id="a_01" /><label for="a_01">Answer 1</label><br />
                <input type="checkbox" name="a_01" value="a_01" id="a_02" /><label for="a_02">Answer 2</label><br />
                <input type="checkbox" name="a_01" value="a_01" id="a_03" /><label for="a_03">Answer3</label><br />
            </label>
          </li>
          <li data-qtype='mcSingleSelect' class="qtype">
            <input type="radio" name="qtype" id="qtype_mcSingleSelect" ng-model="qtype" value="mcSingleSelect" />
            <label for="qtype_mcSingleSelect">
              <h2>Multiple Choice: Single-select</h2>
              <p>A question followed by a series of possible answers. Only one may be chosen.</p>
              <legend>Choose one options below:</legend>
                <input type="radio" name="a_01" value="a_01" id="a_21" /><label for="a_21">Answer 1</label><br />
                <input type="radio" name="a_01" value="a_01" id="a_22" /><label for="a_22">Answer 2</label><br />
                <input type="radio" name="a_01" value="a_01" id="a_23" /><label for="a_23">Answer3</label><br />
            </label>
          </li>
          <li data-qtype='dropdown' class="qtype">
            <input type="radio" name="qtype" value="dropdown" id="qtype_dropdown"  ng-model="qtype" value="dropdown" />
            <label for="qtype_dropdown">
              <h2>Dropdown</h2>
              <p>Choose an answer from a dropdown menu.</p>
              <label for="select">Choose an option form the dropdown:</label><br>
              <select id="select">
                <option>!</option>
                <option>!!</option>
                <option>!!!</option>
              </select>
            </label>
          </li>
        </ul>
      </div>
      <div ng-show="panel=='panel2'">This is panel 2.</div>
      <div ng-show="panel=='social_accounts'">This is where you would select a social account to connect.</div>
    </div>
  </aside>
  
</body>
</html>