html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font: .8em "Open Sans", sans-serif;
  background-color: #e8e8e8;
  color: #484848;
  height: 100%;
}

body {
  margin: 0;
}

.wrapper {
/*  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;*/
  margin: 0;
  width: 640px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

/*@media (max-device-width: 640px) {*/

  html {
    font-size: .6em;
  }

  .wrapper {
    width: 100%;
    margin: 0;
  }

}

body {

}

header {
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 100;
  border-bottom: 1px solid #b6b7b6;
  background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0) 51.5%, rgba(255, 255, 255, 0.85) 53.1%, rgba(255, 255, 255, 0) 100%) rgb(240, 240, 240);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.24)), color-stop(0.515, rgba(255, 255, 255, 0)), color-stop(0.531, rgba(255, 255, 255, 0.85)), to(rgba(255, 255, 255, 0))) rgb(240, 240, 240);
}

ul.codes {
  list-style: none;
  padding: 40px 10px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

dl {
  margin: 0 0 0 70px;
}

dd {
  text-align: right;
}

dd:after {
	content: '\A';
	white-space: pre;
}

dt {
  float: left;
}

.number {
  font-size: 1.4em;
}

input[type=search] {
  width: 100%;
  padding: 5px;
  font-size: 1.2em;
  border: 1px solid #b6b6b6;
  -webkit-appearance: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -moz-appearance: none;
  outline: none;
  -moz-box-shadow: 0 1px 0 #ffffff, inset 0 2px 6px rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 1px 0 #ffffff, inset 0 2px 6px rgba(0, 0, 0, 0.19);
  box-shadow: 0 1px 0 #ffffff, inset 0 2px 6px rgba(0, 0, 0, 0.19);
}

.code {
  background-color: rgba(255, 255, 255, 0.83);
  padding: 10px;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.27);
  border-top: none;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.11);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.11);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.11);
  position: relative;
  font-size: 1.2em;
}

.code:first-of-type {
  border-top: 1px solid #b6b7b6;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

.code:last-of-type {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

.claimed {

}

.checkbox {
  background-color: rgba(255, 255, 255, 0.29);
  width: 50px;
  height: 50px;
  margin: 0px;
  float: left;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.78), inset 0 2px 6px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.78), inset 0 2px 6px rgba(0, 0, 0, 0.36);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.78), inset 0 2px 6px rgba(0, 0, 0, 0.36);
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.claimed .checkbox {
  background: url(check.png) no-repeat 10px center #b0cf80;
}