.animation_wrapper
    div(ng-include src='\'partials/campaign_nav.html\'')
    .scroller_wrapper.with_header_padding
      section.scroller
        | Ah, but there is nothing here. C'est un traviste.
