.select.expandable(ng-click='toggleSelector()')
  .status.push_right
    i.icon-down-open(ng-show='!show_options')
    i.icon-up-open(ng-show='show_options')
  .selection(ng-class='{highlighted : show_options, pristine : !selected}')
    i.icon-ok
    span(ng-if='returnvalue', ng-bind='returnvalue.text || returnvalue.title')
    span(ng-if='!returnvalue || returnvalue == "" || returnvalue == undefined', ng-bind='placeholder') test
  ul.options.select_dropdown(ng-if='show_options')
    li.option(ng-repeat='option in options', ng-click='selectOption(option)', ng-class='{selected : returnvalue.id == option.id}')
      i.icon-ok
      span(ng-bind='option.text || option.title')
      