.module_wrapper.zoom_fade(ng-if='new_mode')
  .module_fader.dimmer(ng-click='toggleNewMode()')
  .module(ng-if='new_mode')
    header
      h1 Create new campaign
    .content_wrapper(ng-switch on="new_mode_step")
      .step_one(ng-switch-when='one')
        ul.select
          li.option(ng-click='chooseToDuplicate(false)')
            i.icon-spinner2.bg.green
            | Create New
          li.option(ng-click='chooseToDuplicate(true); duplicate_mode = true')
            i.icon-flash.bg.orange
            | Duplicate Existing 
      .step_two.fade(ng-switch-when='two') 
        fieldset.duplicate(ng-show='duplicate_mode')
          custom-select(options='campaignTitleList', placeholder='Choose a campaign', returnValue='campaign_to_duplicate') 
        fieldset
          input(type='text', placeholder='Type a title for the new campaign', ng-model='new_campaign_title')
        fieldset
          custom-select(options='handleList', placeholder='Choose a handle', returnValue='handle_to_use')
        .btnset.action.two_btns(ng-if="!duplicate_mode")
          button.btn(ng-click='toggleNewMode()', type='button') cancel
          button.btn.positive(type='submit', ng-click='createCampaign(new_campaign_title, handle_to_use.id, is_local, new_campaign_locale, discoverable)') Continue
        .btnset.action.two_btns(ng-if="duplicate_mode")
          button.btn(ng-click='toggleNewMode()', type='button') cancel
          button.btn.positive(type='button', ng-click='duplicateCampaign(new_campaign_title, campaign_to_duplicate.id, handle_to_use.id)') Duplicate 
header.app_header
  button.btn.icon.left.hide_large(ng-click='toggleSidebar(\'right\')')
    i.icon-menu
  h1.center(ng-bind='accountId')
  button.btn.right.icon(ng-click='edit_mode || toggleNewMode()', ng-if='!new_mode', ng-hide='edit_mode', ng-class='{disabled: edit_mode}')
    .icon-plus
.scroller_wrapper
  section.scroller
    ul#campaign_list.object-list
      li.object-item(ng-repeat='campaign in campaignTitleList', ng-class='{selected : selected_campaigns.some(campaign.id)}')
        .list-checkbox
          button.checkbox(ng-click='selectCampaign(\'{{campaign.id}}\', \'{{accountId}}\')')
            i.icon-ok
        hgroup.object-titles
          a(href='#/account/{{accountId}}/campaign/{{campaign.id}}/conversations')
            h2 @{{campaign.handle}}
            h1 {{campaign.title}}
        .object-alerts
          .alert.new_counter(ng-if='campaign.newCounter != 0', ng-hide='edit_mode', ng-bind='campaign.newCounter')
    button.btn.fadded.full_width(ng-if='archiveExists', ng-click='toggleArchived()')
      span(ng-show='view_archived') hide archived
      span(ng-show='!view_archived') view archived
    ul.object-list(ng-if='view_archived')
      li(ng-repeat='campaign in archivedCampaignList')
        button.btn.right(ng-click='unarchiveListItem(campaign.id)') unarchive
        hgroup
          a(href='#/account/{{accountId}}/campaign/{{campaign.id}}/conversations')
            h2 @{{campaign.handle}}
            h1 {{campaign.title}}
    .dashboard_toolbar(ng-if='edit_mode')
        .button_item
          a.btn(href='{{view_link}}', ng-class='') view
        .button_item
          a.btn(href='{{edit_link}}') edit
        .button_item
          button.btn(ng-class='{disabled: disable_single_edit_buttons}', ng-click='disable_single_edit_buttons || archiveListItem(selected_campaigns)') archive