.module_wrapper.zoom_fade(ng-if='new_mode')
  .module_fader.dimmer(ng-click='toggleNewMode()')
  .module(ng-if='new_mode')
    header
      h1 Create new campaign
    .content_wrapper(ng-switch on="new_mode_step")
      .step_one(ng-switch-when='one')
        ul.select
          li.option(ng-click='chooseToDuplicate(false)')
            i.icon-spinner2.bg.green
            | Create New
          li.option(ng-click='chooseToDuplicate(true); duplicate_mode = true')
            i.icon-flash.bg.orange
            | Duplicate Existing 
      .step_two.fade(ng-switch-when='two')  
        fieldset.duplicate(ng-if='duplicate_mode')
          .select.expandable(ng-click='toggleCampaignSelector()')
            .status.push_right
              i.icon-down-open(ng-show='!show_campaign_options')
              i.icon-up-open(ng-show='show_campaign_options')
            .selection(ng-class='{highlighted : show_campaign_options, pristine : !campaign_to_duplicate}')
              i.icon-ok
              span(ng-if='campaign_to_duplicate', ng-bind='campaign_to_duplicate.title')
              span(ng-if='!campaign_to_duplicate') Choose a campaign
            ul.options.select_dropdown(ng-if='show_campaign_options')
              li.option(ng-repeat='campaign in campaignTitleList', ng-click='selectCampaignToDuplicate(campaign)', ng-class='{selected : campaign_to_duplicate.id == campaign.id}')
                i.icon-ok
                span(ng-bind='campaign.title')
        fieldset
          input(type='text', placeholder='Type a title for the new campaign', ng-model='new_campaign_title')
        fieldset  
          .select.expandable(ng-click='toggleHandleSelector()')
            .status.push_right
              i.icon-down-open(ng-show='!show_handle_options')
              i.icon-up-open(ng-show='show_handle_options')
            .selection(ng-class='{highlighted : show_handle_options, pristine : !handle_to_use}')
              i.icon-ok
              span(ng-if='handle_to_use', ng-bind='handle_to_use.text')
              span(ng-if='!handle_to_use.text') Choose a handle
            ul.options.select_dropdown(ng-if='show_handle_options')
              li.option(ng-repeat='handle in handleList', ng-click='selectHandleToUse(handle)', ng-class='{selected : handle_to_use.id == handle.id}')
                i.icon-ok
                span(ng-bind='handle.text')
        .btnset.action.two_btns(ng-if="!duplicate_mode")
          button.btn(ng-click='toggleNewMode()', type='button') cancel
          button.btn.positive(type='submit', ng-click='createCampaign(new_campaign_title, handle_to_use.id, is_local, new_campaign_locale, discoverable)') Continue
        .btnset.action.two_btns(ng-if="duplicate_mode")
          button.btn(ng-click='toggleNewMode()', type='button') cancel
          button.btn.positive(type='button', ng-click='duplicateCampaign(new_campaign_title, campaign_to_duplicate.id, handle_to_use.id)') Duplicate 
header.app_header
  button.btn.icon.left.hide_large(ng-click='toggleSidebar(\'right\')')
    i.icon-menu
  h1.center(ng-bind='accountId')
  button.btn.right.icon(ng-click='edit_mode || toggleNewMode()', ng-if='!new_mode', ng-hide='edit_mode', ng-class='{disabled: edit_mode}')
    .icon-plus
.scroller_wrapper
  section.scroller
    ul#campaign_list.object-list
      li.object-item(ng-repeat='campaign in campaignTitleList', ng-class='{selected : selected_campaigns.some(campaign.id)}')
        hgroup
          a(href='#/account/{{accountId}}/campaign/{{campaign.id}}/conversations')
            h2 @{{campaign.handle}}
            h1 {{campaign.title}}
        .object-alerts
          .alert.new_counter(ng-if='campaign.newCounter != 0', ng-hide='edit_mode', ng-bind='campaign.newCounter')
        .list-checkbox
          button.checkbox(ng-click='selectCampaign(\'{{campaign.id}}\', \'{{accountId}}\')')
            i.icon-ok
    button.btn.fadded.full_width(ng-if='archiveExists', ng-click='toggleArchived()')
      span(ng-show='view_archived == true') hide archived
      span(ng-show='view_archived == false') view archived
    ul.object-list(ng-show='view_archived == true')
      li(ng-repeat='campaign in archivedCampaignList')
        button.btn.right(ng-click='unarchiveListItem(campaign, campaignList)') unarchive
        hgroup
          a(href='#/account/{{accountId}}/campaign/{{campaign.id}}/conversations')
            h2 @{{campaign.handle}}
            h1 {{campaign.title}}
    .dashboard_toolbar(ng-if='edit_mode')
        .button_item
          a.btn(href='{{view_link}}', ng-class='') view
        .button_item
          button.btn(ng-class='{disabled: disable_single_edit_buttons}', ng-click='disable_single_edit_buttons || archiveListItem(selected_campaigns, campaignList)') archive