article(ng-init='instance.cap = -2')
  header.instance_header
    .left
      .profile_pic.jon_hamm
    .middle
      h3
        a(href='#/campaign/{{viewCampaign.id}}/contacts/{{instance.author}}', ng-bind='instance.author')
      time(ng-bind='instance.time')
    .right
      .header_tools
        button.btn.icon.right(ng-click='toggleToolPanel(instance)')
          i.icon-users
  .form_response
    .questions(ng-include='"partials/form_completed.html"')
    .reward
      h2 Reward:
      dl 
        dt {{instance.reward.title}}
        dd claimed on {{instance.reward.date_claimed}}
  .expand_wrapper(ng-if='isExpandable')
    button.btn.icon.expand(ng-click='expandReplies(instance)')
      span(ng-if='!instance.isExpanded') view all {{instance.comments.length}} comments
      span(ng-if='instance.isExpanded') hide older comments
  ul.comments
    li.comment(ng-repeat='comment in (instance.comments | limitTo:instance.cap)', ng-animate='\'collapse\'', ng-class='{you: comment.author == "You"}')
      .comment_wrapper(ng-if='comment.author == "You"')
        div
          .profile_pic.john
        .text
          h4 @{{campaignHandle}}
            time • 5 minutes ago
          p(ng-bind='comment.text')
      .comment_wrapper(ng-if='comment.author != "You"')
        div 
          .profile_pic.jon_hamm
        .text
          h4
            span(ng-bind='comment.author')
              time • {{comment.time}}
          p(ng-bind='comment.text')
  form.one_line(ng-submit='addReply(newCommentText, instance.comments)')
    button.btn.active(ng-if='instance.heardConditions', type='button', ng-click='addHeard()') heard
    button.btn(ng-if='!instance.heardConditions', ng-class="{active : newCommentText > 0}", type='submit') send
    input(type='text', name='new_comment', ng-model='newCommentText', placeholder="add a reply", ng-focus="instance.heardConditions = false", ng-blur="checkHeardConditions(newCommentText)")
    