header
  h1.center(ng-bind='panel')
.content_wrapper
  div.scroller_wrapper(ng-show='panel==\'Create Question\'')
    .scroller
      fieldset
        custom-select(options='questionTypeOptions', placeholder='Choose a question type', returnValue='buildQuestion.type')
      fieldset
        input(type='text', name='question_{{question.id}}', ng-model='buildQuestion.text', placeholder='Enter your question here.')
      fieldset.options
        div(ng-show='buildQuestion.type.id == \'multipleChoice\'')
          ul.answers
            li(ng-repeat='answer in buildQuestion.answers')
              input(type='text', ng-model='answer.text', placeholder='add an answer here.')
          button.btn.outline.soft(ng-click='addAnswer(\'\',buildQuestion.answers)') + Answer
          input#limit.inline(type='checkbox', name='limit')
          label.inline(for='limit') Limit to one response.        
  .btnset.two_btns.action(ng-if="!duplicate_mode")
    button.btn(ng-click='togglePanel()', type='button') cancel
    button.btn.positive(type='submit',ng-show='panel==\'Create Question\'', ng-click='saveQuestion()', ui-event='{click : \'togglePanel()\'}')
      span(ng-if='!editing_question') add question
      span(ng-if='editing_question') save changes
  div(ng-show='panel==\'share\'')
    label(for='share_email') Enter a friend's email to share your bonus with them:
    input(type='email', name='share_email', placeholder='friend@email.com')
    button.btn(ng-click='togglePanel()') send!
  div(ng-show='panel==\'social_accounts\'') This is where you would find a list of your connected social accounts.
