.animation_wrapper
  header.app_header
    button.btn.icon.left.hide_large(ng-click='toggleSidebar(\'right\')')
      i.icon-menu
    button.btn.right(ng-click='toggleEditMode()', ng-switch='ng-switch', on='edit_mode')
      span(ng-switch-when='false') edit
      span(ng-switch-when='true') done
    h1.center(ng-bind='title')
  .scroller_wrapper
    section.scroller
      ul.object-list
        li(ng-repeat='reward in rewardsList')
          div(ng-show='edit_mode == true')
            button.btn.right(ng-click='deleteAnyListItems(reward, rewardsList)') delete
          a(href='#/rewards/{{reward.id}}')
            h1(ng-bind='reward.title')